# Introduction to Loops
Sometimes a programmer wants to execute a group of statements a certain number of times. This can be done using loops. Based on this loops are further classified into following main types;

- for loop
- while loop

### The for Loop
for loops can iterate over a sequence of iterable objects in python. Iterating over a sequence is nothing but iterating over strings, lists, tuples, sets and dictionaries.

In [1]:
#iterating over a string:

name = 'Rohit'
for i in name:
    print(i, end=", ")

R, o, h, i, t,

In [2]:
#iterating over a list

colors = ["Red", "Green", "Blue", "Yellow"]
for x in colors:
    print(x)

Red
Green
Blue
Yellow

In [3]:
colors = ["Red", "Green", "Blue", "Yellow"]
for colors in colors:
    print(colors)
    for i in colors:
        print(i)

Red
R
e
d
Green
G
r
e
e
n
Blue
B
l
u
e
Yellow
Y
e
l
l
o
w

### range():
What if we do not want to iterate over a sequence? What if we want to use for loop for a specific number of times?

Here, we can use the range() function.

In [4]:
for k in range(5):
    print(k)

0
1
2
3
4

In [5]:
for k in range(1,9):
    print(k)

1
2
3
4
5
6
7
8

In [6]:
for k in range(1,11):
    print("2 X ",k,"=",2*k)

2 X  1 = 2
2 X  2 = 4
2 X  3 = 6
2 X  4 = 8
2 X  5 = 10
2 X  6 = 12
2 X  7 = 14
2 X  8 = 16
2 X  9 = 18
2 X  10 = 20

In [7]:
for k in range(1,11):
    print(2*k)

2
4
6
8
10
12
14
16
18
20